<% if restaurant.is_favorited?(current_user) %>
  <%= link_to fa_icon("heart 2x"), unfavorite_restaurant_path(restaurant), method: :post %>
<% else %>
  <%= link_to fa_icon("heart-o 2x"), favorite_restaurant_path(restaurant), method: :post %>
<% end %>
<span class="lead"> <%= restaurant.favorites_count %> </span>