<ul class="nav nav-tabs">
  <li role="presentation" class="<%= active_class('/') %>">
    <%= link_to "首頁", root_path %>
  </li>
  <li role="presentation" class="<%= active_class('/restaurants/feeds') %>">
    <%= link_to "最新動態", feeds_restaurants_path %>
  </li>
</ul>